:root {
    --bg-primary: #2b77c1;
    --bg-primaryDark: #2b77c1;
    --bg-primaryLight: #2b77c1;
    --bg-sidebar: #024072; 
    --bg-body:#fff;
}


.sidebar {
    color:white;
    height: 100%;
    position: fixed;
    width: 250px;
    background-color: var(--bg-sidebar);
    top: 0;
    border-left: 0px;
    overflow-x: hidden;
  
    transition: margin-left 0.2s ease;
}

.sidebar div.inner-sidebar {
    padding-top: 6px;
    height: 100%;


    background-color: var(--bg-sidebar);
}



#opnbtn {
    display: none;


}

.bg-nav {
    background-color: var(--bg-body);

}
.sidebar .sidebar-item-permit {
    text-overflow: clip;
    padding: 8px 8px 8px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #eee;
    border-radius: 7px;

    font-size: 11pt;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    transition: background-color 0.5s ease;

}

.sidebar .sidebar-item {
    text-overflow: clip;
    padding: 8px 8px 8px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #eee;
    border-radius: 7px;

    font-size: 11pt;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    transition: background-color 0.5s ease;

}

.sidebar .sidebar-item:hover,.sidebar .sidebar-item.selected:hover, .sidebar-item-permit:hover,.sidebar .sidebar-item-permit.selected:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    background-color:#03467e;
    border-radius: 7px;
    display: block;
    transition: background-color 0.5s ease;

}

.sidebar .sidebar-item.selected {


    font-weight: 600;
    background-color:#025193;

    border-radius: 7px;
    color: var(--bg-body);
    transition: background-color 0.5s ease;


}
.sidebar .sidebar-item-permit.selected  {


    font-weight: 600;
    background-color:#013967;

    border-radius: 7px;
    color: var(--bg-body);
    transition: background-color 0.5s ease;


}
.sidebar .sidebar-item.selected::before {
    content: "";
    float: left;
    height: 21px;
    margin-top:0px;
    margin-left: -11px;
    margin-right: 6px;
    border-left: 4px solid var(--bg-body);
    border-radius: 6px;
    transition:background-color 0.5s ease;

}
.sidebar .sidebar-item.selected::before,.sidebar .sidebar-item-permit.selected::before {
    content: "";
    float: left;
    height: 21px;
    margin-top:0px;
    margin-left: -11px;
    margin-right: 6px;
    border-left: 4px solid var(--bg-body);
    border-radius: 6px;
    transition:background-color 0.5s ease;

}
.sidebar .sidebar-item.selectedSub {

    background-color: var(--bg-primaryDark);
    border-radius: 7px;
    color: #fff;
    font-weight: 700;

}

#main {

    transition: margin-left 0.1s ease;


    margin-left: 250px;


}
.round-top-left {
    border-top-left-radius: 10px;
    height: 100vh;
}
/* Media query for screens with a maximum width of 767px (mobile devices) */
@media screen and (max-width: 867px) {
    .sidebar {
        margin-left: -250px;
        transition: margin-left 0.2s ease;

    }
    .round-top-left {
        border-top-left-radius: 0px;
        min-height: 100vh;
    }
    #main {
        margin-left: 0;
    }


    #opnbtn {
        display: block;
    }
}

@media screen and (min-width: 867px) {
    .sidebar {
        width: 250px;
    }

    #main {
        margin-left: 250px;
    }
/* 
    #nav {
        margin-left: 200px;

    }  */

}

@media screen and (min-width: 1090px) {
    .sidebar {
        width: 250px;
    }


    #main {
        margin-left: 250px;
    }


}